.enclosing-container {
  border-color: var(--p-content-border-color);
}

.preferences-container {
  width: 100%;
  height: calc(100dvh - 10.5rem);
  overflow-y: auto;

  @media (min-width: 768px) {
    height: calc(100dvh - 11.65rem);
  }
}

.section-divider {
  padding-top: 2.5rem;
}
