@use '../../../shared/styles/settings-shared' as settings;

.device-settings-container {
  @include settings.settings-page-container;
}

.settings-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
